@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #0e0e0e;
  overflow-x: hidden;
}

body.greenScreen {
  background-color: #000000;
  /* background-image: url("http://img.freepik.com/free-vector/interior-classroom_1308-26552.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}